<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav class="main-nav">
    <ul class="main-nav">
        <li class="nav-item">
            <a class="main-nav" href="/">Home</a>
        </li>
        <li class="main-nav">
            <a class="main-nav" href="/users/login">Login</a>
        </li>
        <li class="main-nav">
            <a class="main-nav" href="/users/register">Register</a>
        </li>
        <li class="main-nav">
            <a class="main-nav" href="/all/food">Food</a>
        </li>
        <li class="main-nav">
            <a class="main-nav" href="/food/search">Search</a>
        </li>
    </ul>
</nav>
</html>