<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head"></head>

<body>
<div class="wrapper">
    <header th:replace="fragments/header"></header>

    <section class="food" th:each="f : ${food}" th:object="${f}">
        <span th:if="*{categoryType == 'APPETIZER'}">
            <img class="mr-1" src="/images/appetizer.jpg" width="100px" height="100px" alt="Appetizer image">
        </span>
        <span th:if="*{categoryType == 'SALAD'}">
            <img class="mr-1" src="/images/salad.jpg" width="100px" height="100px" alt="Salad image">
        </span>
        <span th:if="*{categoryType == 'DESSERT'}">
            <img class="mr-1" src="/images/dessert.jpg" width="100px" height="100px" alt="Dessert image">
        </span>
        <div>
            <h2 th:text="*{name}">Food name</h2>
            <p th:text="*{description}">The best food in the whole world!</p>
            <a sec:authorize="isAuthenticated()" th:href="@{/food/details/{id}(id=*{id})}"
               class="btn btn-link">More information</a>
        </div>
    </section>
</div>
</body>
</html>